body {
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
/*
.container {
    max-width: 1024px;
}*/

/* navbar */

.logo {
    margin-left: 15px;
}

.navigation {
    line-height: 26px;
    vertical-align: middle;
    white-space: nowrap;
    height: 26px;
    -webkit-box-shadow: 0px 13px 1px rgba(50, 50, 50, 0.22);
    -moz-box-shadow: 0px 13px 1px rgba(50, 50, 50, 0.22);
    box-shadow: 0px 13px 1px rgba(50, 50, 50, 0.22);
}

.nav-after {
    line-height: 70px;
    vertical-align: middle;
    white-space: nowrap;
    height: 70px;
    -webkit-box-shadow: 0px 13px 20px rgba(50, 50, 50, 0.22);
    -moz-box-shadow: 0px 13px 20px rgba(50, 50, 50, 0.22);
    box-shadow: 0px 13px 20px rgba(50, 50, 50, 0.22);
}

.town-change {
    text-transform: uppercase;
    font-weight: bold;
}

.button-green {
    background-image: url(img/site/button-green-off.png);
}

/* main */

.main {
    padding: 15px;
    margin-top: 13px;
    margin-bottom: 50px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.6);
}

.banner-top {
    margin: 8px 8px 17px 8px;
}

.emphasis {
    margin: 0 8px 0 25px;
}

.border-top-grey1 {
    margin: 25px 10px 10px 25px;
    content: "";
    border-bottom: 7px solid #e8e8e8;
}

.border-top-grey {
    margin: 25px 10px 10px 0px;
    content: "";
    border-bottom: 7px solid #e8e8e8;
}

.border-top-grey3 {
    margin: 0px 10px 10px 0px;
    content: "";
    border-bottom: 7px solid #e8e8e8;
}

.border-top-grey4 {
    margin: 0px 10px 10px 25px;
    content: "";
    border-bottom: 7px solid #e8e8e8;
}

.border-dotted {
    border-right: 2px dotted #f0f0f0;
}

.top-cont1 {
    margin-left: 25px;
}

.top-cont {
    padding: 5px 20px 5px 5px;
}



.top-cont3 {
    padding-right: 5px;
    margin-top: 25px;
}

.triple {
    margin: 8px 10px 0 0;
    border: 1px solid #e8e8e8;
    border-right: none;
    background-image: url('../img/site/wave.jpg');
    background-position: right;
    background-repeat: no-repeat;
}

.media-heading {
    color: #08c;
    text-decoration: underline;
    font-size: 14px;
}

.media, .media .media {
    margin-top: 0px;
}

.border-left {
    border-left: 1px solid #000000;
    padding-left: 8px;
}

.banner-flash {
    margin: 15px 25px 15px 25px;
}

.recom-cont1 {
    margin-left: 25px;
    padding-right: 20px;
}

.recom-cont {
    padding-right: 20px;
}

.recom-cont3 {
    margin-right: 25px;
    padding-right: 20px;
}

.t-zastr {
    padding-left: 25px;1
}

/* bg-colors */
.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #fafaf8;
}

.bg-black {
    background-color: #19171c;
}

/* a-colors */
.a-white {
    color: #ffffff;
}

.a-white:hover {
    color: #ffffff
}

.a-black {
    color: #333333;
}

.a-black:hover {
    color: #333333;
}

.a-yellow {
    color: #d4b401;
}

.a-yellow:hover {
    color: #d4b401;
}

.a-red {
    color: #dd3542;
}

.a-red:hover {
    color: #dd3542;

}

.a-grey {
    color: #333333;
    text-decoration: underline;
}

/* typography */
h3 {
    margin: 0px;
    line-height: 30px;
}

h3.margin-left {
    margin-left: 25px;
}

.small-font {
    font-size: 12px;
}

/* colors */
.white {
    color: white;
}

.black {
    color: #333333;
}

.grey {
    color: #B6B6B6;
}

.red {
    color: #dd3542;
}

.green {
    color: #77bb42;
}

/* Shadows */
.tab-content {
    overflow: visible;
}

.shadow1 {
    box-shadow: 0px 15px 12px -15px #000;
}

.shadow2 {
    -webkit-box-shadow: 0px 5px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 8px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 8px rgba(50, 50, 50, 0.75);
}

.curved-hz-1 {
    position:relative;

}

.curved-hz-1:before,
.curved-hz-1:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.curved-hz-1:before {
    top:50%;
    bottom:0px;

    right:10px;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:100px / 10px;
         border-radius:100px / 10px;
}

.curved-hz-1 p {
    font-size:16px;
    font-weight:bold;
}

/* Search form */
.search-form {
    margin: 21px 16px 0 16px;
    padding-left: 15px;
    border: 1px solid #cfcfcf;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.search-form li a {
    color: #b6b6b6;
    text-decoration: underline;
    font-weight: bold;
    border: none;
}

.search-form li a:hover {
    color: #08c;
    text-decoration: none;
    background: none;
}

.search-form li.active a, .search-form li.active a:hover{
    color: #08c;
    text-decoration: none;
    background-color: transparent;
    border: 0px solid #DDD;
    border-bottom-color: #cfcfcf;
    cursor: default;
}

.active:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solidx #000;
    position: absolute;
    top: -6px;
    left: 10px;
}

.form-main {
    margin-left: 16px;
    margin-right: 16px;
    padding: 15px 7px 20px 7px;
    background-color: #f0f0f0;
    border: 1px solid #cfcfcf;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-search {
    font-size: 30px;
    padding: 18px 24px 18px 24px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

.form-description {
    margin-left: 15px;
    font-weight: bold;
}

.a-dotted {
    font-size: 16px;
    margin-left: 15px;
    color: black;
    border-bottom: 1px black dotted;
}

.a-dotted:hover, .a-dotted.active {
    text-decoration: none;
    font-weight: bold;
    color: #08c;
    border-bottom: 0px #08c dashed;
}

/* hr */

hr.fad {
    text-align: center;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(240,240,240,0.9), rgba(221,221,221,0.9), rgba(240,240,240,0.9));
    background-image:    -moz-linear-gradient(left, rgba(240,240,240,0.9), rgba(221,221,221,0.9), rgba(240,240,240,0.9));
    background-image:     -ms-linear-gradient(left, rgba(240,240,240,0.9), rgba(221,221,221,0.9), rgba(240,240,240,0.9));
    background-image:      -o-linear-gradient(left, rgba(240,240,240,0.9), rgba(221,221,221,0.9), rgba(240,240,240,0.9));
}

hr.fad:after {
    display: inline-block;
    position: relative;
    top: -0.5em;
    font-size: 14px;
    padding: 0 0.25em;
    background: #f0f0f0;
}

.clean-form {
    text-align:center;
    border-bottom:2px solid #d5d5d5;
}

.clean-form-in  {
    display: inline-block;
    position: relative;
    top: 10px;
    background: #f0f0f0;
    padding: 0 12px;
}

.clean-form-in a {
    color: black;
    border-bottom: 1px black dashed;

}

.clean-form-in a:hover {
    text-decoration: none;
    color: #08c;
    border-bottom: 1px #08c dashed;
}

/* Conpany */

.company-header {
    margin-top: 30px;
    background-color: #f4f5f7;
}
.company-img {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    padding: 5px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
}

.company-info {
    padding: 20px 10px 0 10px;
}

.company-phone-pre {
    color: #939498;
}

.company-phone {
    font-size: 18px;
}

.company-recommended {
    padding-right: 15px;
}

.company-cl-recom {
    line-height: 20px;
    padding: 8px 10px;
    background: #77bb42;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.company-cl-recom2 {
    padding: 8px 10px;
    margin-left: -5px;
    background: white;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* tabs */

.filter {
    font-size: 16px;
    color: #d0d0d0;
}

.advertisement-header {
    border-bottom: 1px dashed #d0d0d0;
}

.advertisement-vip {
    padding: 5px;
}

.advertisement-vip i {
    color: #f38e00;
}

.advertisement-vip a.active {
    color: #08c;
    text-decoration: none;
}

.advertisement-vip a {
    color: #959595;
    text-decoration: underline;
}

.adv {
    border-bottom: 1px dashed #d0d0d0;
    padding: 10px;
}

.adv-vip {
    background: #fcf9b4;
}

.adv-price {
    text-decoration: underline;
}

.adv-img {
    padding: 5px;
    background: white;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}

.adv-hed {
    padding:  0px  0px  10px 20px;
    border-bottom: 1px solid #e9e9e9;
}

/* MIsc */

.black-line {
    content: "";
    border-bottom: 7px solid  black;
    margin: 50px 15px 20px 15px;
}


/*test*/
.img {
    width: 100%;
}

.m-l {
    margin-left: 5px;
}